/* See: https://css.github.io/csso/csso.html */
/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  height: 100%;
  position: relative;
}

body p,
body h3,
body ul,
body h4 {
  color: #591f0b;
}

@font-face {
  font-family: "Signature";
  src: url("../fonts/Signature.ttf");
}

h1 {
  font-size: 6rem;
}

/* NAV */
nav {
  width: 100%;
  line-height: 80px;
  display: flex;
  justify-content: space-around;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.6s;
}

.nav-active {
  background-color: white;
  box-shadow: -10px 0 20px 0 rgba(124, 52, 28, 0.5);
}

.nav-scrollUp {
  transform: translateY(-80px);
}

nav a {
  text-decoration: none;
  color: #8c3213;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;
  transition: 0.2s;
}

.nav-active a {
  color: #8c3213;
}

nav a:hover {
  color: #c05f3c;
}

.nav-active a:hover {
  color: #c05f3c;
}

nav a img {
  width: 45px;
  vertical-align: middle;
}

.menu {
  display: none;
}

/* NAV Hamburger */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 25;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  text-align: center;
  height: 70%;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 1.95rem;
  color: #591f0b;
  display: block;
  transition: 0.3s;
  font-weight: bold;
}

.overlay .closebtn {
  position: absolute;
  top: 0px;
  right: 25px;
  font-size: 45px;
  width: 10%;
  text-align: center;
  z-index: 20;
}

/* HEADER */

header {
  padding-top: 100px;
  position: relative;
  width: 100%;
  min-height: calc(100vh - 100px);
  height: 100%;
  background-color: #ffeae4;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.leaves {
  position: absolute;
  z-index: 1;
  filter: opacity(0.7);
}

.l1 {
  width: 30%;
  right: -150px;
  bottom: 100px;
  transform: rotate(-20deg);
  filter: opacity(0.9);
}

.l2 {
  width: 22%;
  left: -25px;
  bottom: 100px;
  transform: rotate(40deg);
  filter: opacity(0.5);
}

.l3 {
  width: 15%;
  left: 600px;
  transform: rotate(150deg);
}

.l4 {
  width: 10%;
  right: 500px;
  bottom: 120px;
  transform: rotate(-25deg);
}

.l5 {
  width: 18%;
  left: 450px;
  bottom: 0;
  transform: rotate(-150deg);
}

.headerText {
  width: 60%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerText h1,
.description {
  padding: 0px 0px 20px 80px;
}

.phrase {
  background-color: #ffc7b380;
  border-radius: 0 5px 5px 0;
  width: 75%;
  height: 9vh;
  padding-left: 80px;
  display: flex;
  align-items: center;
}

.headerText h3 {
  color: #591f0b;
  padding-right: 80px;
  font-size: 1.4rem;
  font-weight: 500;
}

.headerText h1 {
  color: #591f0b;
  padding-bottom: 20px;
  padding-top: 10%;
  font-family: "Satisfy", cursive;
}

.container-arrow {
  text-align: center;
  margin: auto auto 0px auto;
  width: 34px;
  transition: 0.5s;
  z-index: 10;
}

.container-arrow:hover {
  transform: translateY(-30px);
}

.arrow-down {
  font-size: 34px;
}

header a {
  color: #591f0b;
  text-decoration: none;
}

/* SERVICES */

.services {
  position: relative;
  height: 100vh;
  background-color: #ffeae4;
  min-height: 800px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.gradient-white {
  position: absolute;
  background-image: linear-gradient(to top, white, 60%, rgba(255, 255, 255, 0));
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services .title h2 {
  color: #591f0b;
  font-size: 3rem;
  margin-top: 2%;
}

.container-cards {
  padding-top: 2%;
  justify-content: space-around;
  display: flex;
  font-size: 16px;
}

.card {
  position: relative;
  width: 20%;
  height: 80vh;
  border-radius: 5px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 0.2s ease-in-out;
  min-height: 400px;
  margin-bottom: 1.4rem;
  margin-top: 1rem;
  font-size: 16px;
  background-color: white;
  border: #ffeee9 solid 2px;
}

.card:hover {
  transform: scale(1.01);
}

.card:after {
  position: absolute;
  box-shadow: 0px 0px 10px 2px rgb(255 225 215);
  border-radius: 5px;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.card-img {
  padding-top: 5%;
  height: 30%;
}

.herbal .card-img {
  width: 60%;
}

.card-img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.card-text {
  width: 85%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding-bottom: 5%;
}

.card-text h4 {
  font-size: 1.8em;
  margin-top: 3%;
  margin-bottom: 5%;
  border-bottom: 1px solid #f7a688;
  text-align: center;
}

.card-text p {
  width: 90%;
}

.card-text ul {
  font-size: 0.9em;
  margin: 0px 0px auto auto;
  width: 90%;
}

.masajes .card-text ul {
  margin: 0;
}

.china .card-text .china-b {
  font-weight: bold;
}

.herbal p {
  font-size: 0.87em;
}

.card-text ul li {
  list-style-position: inside;
  list-style-type: circle;
}

.card-text ul li p {
  display: inline;
}

.faqs {
  background-color: white;
  height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 680px;
}

.faqs h2 {
  font-size: 3rem;
  color: #591f0b;
  text-align: center;
}

.container-faqs {
  display: flex;
  justify-content: space-around;
}

.faq {
  width: 40%;
  padding: 5%;
  position: relative;
  display: flex;
  align-items: center;
}

.border-absolute {
  position: absolute;
}

.container-faqs:first-of-type
  .faq:first-of-type
  .border-absolute:first-of-type {
  height: 100%;
  width: 60%;
  border-bottom: 2px solid #f7a688;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

body
  > section.faqs
  > div
  > div:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(2) {
  height: 60%;
  width: 30%;
  border-right: 2px solid #f7a688;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container-faqs:last-of-type .faq:last-of-type .border-absolute:first-of-type {
  height: 100%;
  width: 60%;
  border-top: 2px solid #f7a688;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

body
  > section.faqs
  > div
  > div:nth-child(2)
  > div:nth-child(2)
  > div:nth-child(2) {
  height: 60%;
  width: 30%;
  border-left: 2px solid #f7a688;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.faq .faq-content {
  display: inline-block;
  width: 75%;
  padding-left: 5%;
}

.faq .faq-img {
  width: 10%;
  display: inline-block;
}

.faq .faq-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: invert(64%) sepia(58%) saturate(367%) hue-rotate(326deg)
    brightness(104%) contrast(94%);
}

.about-me {
  position: relative;
  background-color: white;
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me .title {
  padding-top: 3%;
  z-index: 10;
}

.about-me h2 {
  font-size: 3rem;
  color: #591f0b;
}

.about-me h3 {
  font-size: 2.8rem;
  padding-left: 3%;
  font-family: "Signature";
  font-weight: 100;
}

.myPhoto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.about-me .content {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 6%;
  z-index: 10;
}

.imgName {
  display: flex;
  align-items: center;
}

.about-me .content .ps {
  padding-top: 2%;
  padding-bottom: 5%;
}

.petals {
  position: absolute;
  width: 60px;
  filter: opacity(0.35) hue-rotate(15deg);
}

.p1 {
  left: 5%;
}

.p2 {
  right: 30%;
  top: 60%;
}

.p3 {
  left: 30%;
  top: 80%;
}

.p4 {
  right: 10%;
  top: 20%;
}

.p5 {
  left: 35%;
  top: 15%;
}

.p6 {
  left: 10%;
  bottom: 40%;
}

.p7 {
  bottom: 5%;
  right: 5%;
}

.lineDiv {
  position: absolute;
  top: -40px;
  z-index: 10;
  text-align: center;
  width: 100%;
}

.inverted {
  bottom: -40px;
  transform: rotate(180deg);
}

.line {
  width: 300px;
}

.room {
  height: 100vh;
  min-height: 800px;
  width: 100%;
  background-color: #ffdacd;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-imgs {
  width: 85%;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 11;
}

.container-imgs > figure {
  width: 30%;
  padding: 10px;
}

.container-imgs img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.room button {
  width: 100px;
  height: 5vh;
  border-radius: 5px;
  font-size: 1rem;
  color: #591f0b;
  margin-top: 2%;
  cursor: pointer;
  border: #591f0b solid 2px;
  background-color: #ffdacd;
  z-index: 11;
}

/* PhotoSwipe Background (opacity from js) */
.pswp__bg {
  background-color: #180802 !important;
}

.room button::hover {
  color: #c05f3c;
  border-color: #c05f3c;
}

.container-imgs figure:not(:nth-child(-n + 3)) {
  display: none;
}

.room h2 {
  font-size: 3rem;
  color: #591f0b;
  padding-bottom: 8%;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  position: relative;
  background-color: white;
  min-height: 500px;
}

.contact-items h3 {
  font-size: 3rem;
  margin-bottom: 4%;
  color: #591f0b;
}

.contact-items {
  margin-right: 10%;
}

.contact-items span {
  font-size: 1.3rem;
}

.contact-items a {
  text-decoration: none;
  color: #591f0b;
}

.contact-items a img {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.address {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.address span {
  font-size: 1.3rem;
  color: #591f0b;
}

.address span i {
  margin-right: 5px;
}

.mail,
.mapouter,
.nro,
.facebook,
.instagram {
  margin-bottom: 3%;
}
.mapouter {
  position: relative;
  text-align: right;
  height: 30vh;
  width: 30vw;
  min-height: 150px;
}

.gmap_canvas iframe {
  height: 100%;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  border-radius: 5px;
}

.container-imgs .slick-dots li button:before {
  font-size: 0.6rem;
}

.container-cards .slick-arrow::before {
  color: #591f0b;
}

.slick-dots li.slick-active button:before {
  color: #591f0b;
}

.slick-dots li button:before {
  color: #591f0b;
}

.container-social {
  display: flex;
}

span.content {
  width: 300px;
  position: absolute;
  height: 29px;
  left: 0;
  top: 0;
  right: 0;
  color: #000;
  padding-left: 5px;
}

.contact-items span i {
  width: 25px;
  height: 25px;
  display: inline-block;
  color: #591f0b;
}

@media only screen and (min-width: 1500px) {
  .card {
    font-size: 1.1em;
  }
}

/* RESPONSIVE */
@media only screen and (max-width: 1250px) {
  .floral p {
    font-size: 0.88em;
  }

  .faq .faq-content {
    font-size: 0.9rem;
  }

  .card {
    font-size: 16px;
  }

  .l1 {
    right: -80px;
  }
}

@media only screen and (max-width: 1000px) {
  .card:after {
    left: 50%;
    transform: translateX(-50%);
  }

  .card {
    width: 85%;
    margin: 0.1%;
  }

  .card:hover {
    transform: none;
  }

  h1 {
    font-size: 5rem;
  }

  .l1 {
    width: 40%;
  }

  .l4 {
    display: none;
  }

  .l5 {
    display: none;
  }

  .headerText {
    width: 70%;
  }

  .headerText h1 {
    padding-top: 5%;
  }

  .address span {
    font-size: 1.3rem;
  }

  header h3 {
    font-size: 1rem;
    padding-right: 0;
  }

  .imgName {
    justify-content: center;
    flex-flow: wrap;
  }

  .myPhoto {
    width: 100px;
    height: 100px;
  }

  .about-me h3 {
    font-size: 2.2rem;
    font-weight: 150;
    text-align: center;
  }

  .about-me .content .ps {
    padding-top: 5%;
    font-size: 0.8rem;
  }

  .petals {
    width: 40px;
  }

  .slick-arrow,
  .slick-arrow:focus,
  .slick-arrow:hover {
    border-radius: 50%;
  }
  .slick-next {
    position: absolute;
    right: 10px;
  }
  .slick-prev {
    position: absolute;
    left: 10px;
    z-index: 10;
  }
  .container-cards .slick-arrow::before {
    font-size: 1.5rem;
  }
  .container-cards .slick-dots li button:before {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 900px) {
  .phrase {
    height: 15vh;
  }

  .container-faqs {
    flex-direction: column;
    align-items: center;
  }

  .border-absolute {
    display: none;
  }

  .faq .faq-img {
    width: 8%;
  }

  .faqs {
    min-height: 1000px;
  }

  .faq {
    width: 90%;
    justify-content: center;
  }

  .card-text h4 {
    font-size: 2.5rem;
  }

  .china .card-text p {
    font-size: 1em;
  }

  .card-text ul {
    font-size: 1em;
  }

  .china .card-text ul {
    font-size: 1em;
  }

  .floral p {
    font-size: 1em;
  }

  .container-imgs figure {
    width: 35%;
  }
}

@media only screen and (max-width: 750px) {
  .lineDiv {
    top: -27px;
  }

  .inverted {
    bottom: -27px;
  }

  .line {
    width: 200px;
  }

  .address {
    margin-bottom: 15%;
  }

  .phrase {
    background-color: #ffc7b300;
  }

  nav a {
    font-size: 14px;
  }

  .contact-items span {
    font-size: 1rem;
  }

  .address span {
    font-size: 1rem;
  }

  .contact {
    align-items: center;
    flex-direction: column;
    height: 80vh;
  }

  .mapouter {
    width: 75vw;
    margin-top: 5%;
  }

  .contact-items a img {
    width: 20px;
    height: 20px;
  }

  .contact-items {
    margin-right: 0;
    margin-top: 15%;
  }

  .contact-items h3 {
    text-align: center;
  }

  .about-me .content .ps {
    padding-bottom: 15%;
  }
}

@media only screen and (max-width: 600px) {
  .card:after {
    box-shadow: none;
  }

  .arrow-down {
    display: none;
  }

  .room {
    min-height: 0px;
    height: 80vh;
  }

  .herbal .card-img {
    width: 55%;
  }

  .card-img {
    height: 28%;
  }

  .services .title h2,
  .faqs h2,
  .about-me h2,
  .room h2,
  .contact-items h3 {
    font-size: 2.5rem;
  }

  .card-text ul,
  .china .card-text ul {
    font-size: 0.88em;
  }

  header {
    padding-top: 80px;
  }

  .phrase {
    width: 60%;
    padding-left: 50px;
    margin-bottom: 10px;
  }

  .l1 {
    right: 15px;
  }

  .l2 {
    width: 30%;
    bottom: 100px;
  }

  .l3 {
    left: 150px;
    width: 70%;
    filter: opacity(0.4);
  }

  .menu {
    display: block;
    font-size: 1.5rem;
  }

  nav {
    justify-content: unset;
  }

  nav a:not(:nth-child(1)):not(:nth-child(8)) {
    display: none;
  }

  nav a:first-child {
    padding-left: 40px;
  }

  nav a:last-child {
    margin-left: auto;
    padding-right: 40px;
  }

  .headerText {
    width: 100%;
  }

  h1 {
    font-size: 3.4rem;
  }

  .headerText h1,
  .description {
    padding: 0px 0px 20px 50px;
  }

  .headerText h3 {
    font-size: 0.9rem;
    padding-right: 20%;
  }

  .card:hover {
    transform: scale(none);
  }

  .card-text h4 {
    font-size: 1.7em;
  }

  .container-imgs figure:not(:nth-child(-n + 2)) {
    display: none;
  }

  .container-imgs figure {
    width: 65%;
  }

  .container-imgs button {
    display: block;
  }
}

@media only screen and (max-width: 400px) {
  .services .title h2,
  .faqs h2,
  .about-me h2,
  .room h2,
  .contact-items h3 {
    font-size: 1.95rem;
  }

  .card-text h4 {
    font-size: 1.5em;
  }

  .herbal .card-text h4 {
    font-size: 1.47em;
  }

  .faqs {
    min-height: 980px;
  }

  .faq .faq-img {
    width: 15%;
  }

  .faq .faq-content {
    font-size: 0.8rem;
  }

  .floral p {
    font-size: 0.9em;
    width: 80%;
  }

  .china p {
    font-size: 0.9em;
    width: 80%;
  }

  .china-b {
    margin-top: 5%;
  }

  .card {
    height: 100vh;
  }

  .container-imgs figure:not(:nth-child(-n + 1)) {
    display: none;
  }
}

@media only screen and (min-height: 600px) {
  .card {
    height: 90vh;
  }
}

@media only screen and (min-height: 800px) {
  .card {
    height: 80vh;
  }
}
